dist/administracion-integral-de-riesgos.html
<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8">
    <title>Bancomext - Informe Anual 2017</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" rel="stylesheet">
    <link href="/css/styles.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header class="hero small" role="banner">
      <div class="container">
        <div class="flex"><img src="/img/logo.png">
          <div>
            <h1>Informe anual 2017</h1>
            <h2>Impulsando la formación de capital y la productividad en México</h2>
          </div>
        </div><a class="download" href="#">Estados financieros 2017<i class="fas fa-download"></i></a>
      </div>
    </header>
    <nav class="nav" role="navigation">
      <ul>
        <li class="nav-item-section-1"><a href="bancomext.html">Bancomext<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-2"><a href="entorno-economico.html">Entorno económico<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-3"><a href="estrategia-de-negocios.html">Estrategia de negocios
            <!-- i.fas.fa-caret-down--></a></li>
        <li class="nav-item-section-4 active"><a href="administracion-integral-de-riesgos.html">Administración integral de riesgos<i class="fas fa-caret-down"></i></a></li>
      </ul>
    </nav>
    <main>
      <div class="section-4">
        <article class="container">
          <div class="content">
            <h1>Administración Integral de Riesgos</h1>
            <div class="panel-text">
              <p>Durante el año, el objetivo del proceso de la Administración Integral de Riesgos se enfocó en el control de los distintos tipos de riesgos a los que se encuentra expuesta la Institución (crédito, mercado, liquidez, no discrecionales y no cuantificables); de conformidad con la normatividad establecida en las Disposiciones de Carácter General Aplicables a las Instituciones de Crédito, emitidas por la Comisión Nacional Bancaria y de Valores (CNBV), publicada en el Diario Oficial de la Federación el 2 de diciembre de 2005.</p>
              <h2>Límites Estratégicos de Capital</h2>
              <p>El Consejo Directivo autorizó en la sesión del 24 de febrero de 2016 un mecanismo temporal para distribuir las utilidades oficiales de cada mes con el fin de agilizar la Gestión de Capital mientras exista presión mayor a 90% en el Límite de Crédito. El capital distribuible quedó en 19,794 millones de pesos. Cabe mencionar que en el modelo de gestión de capital, se estableció un margen de seguridad de 2.5% de ICAP para dar cumplimiento al suplemento de conservación de capital que exige Basilea III a partir de 2014.</p>
              <p>Los límites a nivel estratégico, así como sus niveles de consumo a diciembre de 2017 son los siguientes:</p>
              <h2>Límites Tácticos de Capital</h2>
              <p>Con base en los límites estratégicos autorizados por el Consejo Directivo, el Comité de Administración Integral de Riesgos (CAIR) autorizó la distribución de límites de capital a nivel táctico, determinados en función de las necesidades de las áreas de negocio.</p>
              <p>Se llevó un seguimiento de los consumos de los límites para controlar el riesgo asumido por la Institución. En todos los casos el consumo se mantuvo dentro de los límites autorizados y no se registraron desviaciones. En cuanto al riesgo de crédito, los límites a nivel estratégico y sus consumos a diciembre de 2017:</p>
              <p>Para la cartera con riesgo, los límites y consumos del riesgo de crédito a diciembre de 2017:</p>
              <p>Por otra parte, conforme con las Disposiciones de Carácter General Aplicables a las Instituciones de Crédito en materia de diversificación de riesgos en la realización de operaciones activas y pasivas, se determinaron los límites máximos de financiamiento por riesgo común, informándolos a las Unidades de Negocios y al CAIR.</p>
              <p>De acuerdo con estas Disposiciones, se determinaron las exposiciones crediticias y el nivel de ocupación de los Límites aplicables para cada periodo de referencia para el Sector Privado, los tres mayores deudores del Sector Privado, las Entidades y Organismos del Sector Público Paraestatal y los Intermediarios Financieros Bancarios. Asimismo, se fijaron límites de carácter prudencial a fin de mantener la observancia de los límites regulatorios. La estructura de límites tácticos de la Cartera de Contraparte y sus niveles de consumo a diciembre de 2017:</p>
              <p>Cabe señalar que de enero a diciembre de 2017 no se rebasaron los límites autorizados.</p>
              <p>El Portafolio de Tesorería presentó un consumo de capital de  468 millones de pesos con una ocupación de 96% del límite táctico.</p>
              <p>Respecto del riesgo de mercado, a continuación se presentan los límites tácticos y consumos registrados a diciembre de 2017:</p>
              <p>Al cierre de diciembre de 2017, el portafolio de Riesgo de Mercado registró un consumo de capital de  1,739 millones de pesos, para una ocupación de 77% del límite a nivel estratégico. El mayor consumo a nivel táctico se ubica en el portafolio de Tesorería, con  1,187 millones de pesos y una ocupación de 82% del límite autorizado.</p>
            </div>
          </div>
        </article>
      </div>
    </main>
    <nav class="nav" role="navigation">
      <ul>
        <li class="nav-item-section-5"><a href="modelo-de-negocios.html">Modelo de negocios<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-6"><a href="tesoreria-y-mercados.html">Tesorería y mercados<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-7"><a href="otras-actividades.html">Otras actividades<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-8"><a href="informacion-financiera.html">Información financiera<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-blank"><a></a></li>
      </ul>
    </nav>
    <footer class="footer" role="contentinfo">
      <div class="container">
        <div>
          <p class="uppercase">Informe anual 2017</p>
        </div>
        <div>
          <ul>
            <li><a href="estados-financieros.html">Estados financieros</a></li>
            <li><a href="bancomext.html">Bancomext</a></li>
            <li><a href="entorno-economico.html">Entorno económico</a></li>
            <li><a href="estrategia-de-negocios.html">Estrategia de negocios</a></li>
          </ul>
        </div>
        <div class="flex">
          <ul>
            <li><a href="administracion-integral-de-riesgos.html">Administración integral de riesgos</a></li>
            <li><a href="modelo-de-negocios.html">Modelo de negocios</a></li>
            <li><a href="tesoreria-y-mercados.html">Tesorería y mercados</a></li>
            <li><a href="otras-actividades.html">Otras actividades</a></li>
            <li><a href="informacion-financiera.html">Información financiera</a></li>
          </ul><img src="/img/logo-alt.png">
        </div>
        <div>
          <div class="social-media"><a href="#" target="_blank" aria-label="Bancomext en Twitter"><i class="fab fa-twitter"></i></a><a href="#" target="_blank" aria-label="Bancomext en Facebook"><i class="fab fa-facebook-f"></i></a><a href="#" target="_blank" aria-label="Bancomext en Youtube"><i class="fab fa-youtube"></i></a></div>
          <p>Teléfono: +52 (55) 5449 9000</p>
          <p>E-mail:<a href="mailto:bancomext@bancomext.gob.mx">bancomext@bancomext.gob.mx</a></p>
          <p>Dirección: Periférico Sur 4333, Col. Jardines en la Montaña,<br>Tlalpan, Ciudad de México, C.P. 14210</p>
          <p>Última actualización: 15/05/2018</p>
        </div>
      </div>
    </footer>
    <!-- Scripts bundle-->
    <script src="js/bundle.min.js"></script>
  </body>
</html>

src/pug/content/administracion-integral-de-riesgos.pug
.section-4
  article.container
    .content
      h1 Administración Integral de Riesgos
      .panel-text
        p Durante el año, el objetivo del proceso de la Administración Integral de Riesgos se enfocó en el control de los distintos tipos de riesgos a los que se encuentra expuesta la Institución (crédito, mercado, liquidez, no discrecionales y no cuantificables); de conformidad con la normatividad establecida en las Disposiciones de Carácter General Aplicables a las Instituciones de Crédito, emitidas por la Comisión Nacional Bancaria y de Valores (CNBV), publicada en el Diario Oficial de la Federación el 2 de diciembre de 2005.

        h2 Límites Estratégicos de Capital

        p El Consejo Directivo autorizó en la sesión del 24 de febrero de 2016 un mecanismo temporal para distribuir las utilidades oficiales de cada mes con el fin de agilizar la Gestión de Capital mientras exista presión mayor a 90% en el Límite de Crédito. El capital distribuible quedó en 19,794 millones de pesos. Cabe mencionar que en el modelo de gestión de capital, se estableció un margen de seguridad de 2.5% de ICAP para dar cumplimiento al suplemento de conservación de capital que exige Basilea III a partir de 2014.

        p Los límites a nivel estratégico, así como sus niveles de consumo a diciembre de 2017 son los siguientes:

        h2 Límites Tácticos de Capital

        p Con base en los límites estratégicos autorizados por el Consejo Directivo, el Comité de Administración Integral de Riesgos (CAIR) autorizó la distribución de límites de capital a nivel táctico, determinados en función de las necesidades de las áreas de negocio.

        p Se llevó un seguimiento de los consumos de los límites para controlar el riesgo asumido por la Institución. En todos los casos el consumo se mantuvo dentro de los límites autorizados y no se registraron desviaciones. En cuanto al riesgo de crédito, los límites a nivel estratégico y sus consumos a diciembre de 2017:

        p Para la cartera con riesgo, los límites y consumos del riesgo de crédito a diciembre de 2017:

        p Por otra parte, conforme con las Disposiciones de Carácter General Aplicables a las Instituciones de Crédito en materia de diversificación de riesgos en la realización de operaciones activas y pasivas, se determinaron los límites máximos de financiamiento por riesgo común, informándolos a las Unidades de Negocios y al CAIR.

        p De acuerdo con estas Disposiciones, se determinaron las exposiciones crediticias y el nivel de ocupación de los Límites aplicables para cada periodo de referencia para el Sector Privado, los tres mayores deudores del Sector Privado, las Entidades y Organismos del Sector Público Paraestatal y los Intermediarios Financieros Bancarios. Asimismo, se fijaron límites de carácter prudencial a fin de mantener la observancia de los límites regulatorios. La estructura de límites tácticos de la Cartera de Contraparte y sus niveles de consumo a diciembre de 2017:

        p Cabe señalar que de enero a diciembre de 2017 no se rebasaron los límites autorizados.

        p El Portafolio de Tesorería presentó un consumo de capital de  468 millones de pesos con una ocupación de 96% del límite táctico.

        p Respecto del riesgo de mercado, a continuación se presentan los límites tácticos y consumos registrados a diciembre de 2017:

        p Al cierre de diciembre de 2017, el portafolio de Riesgo de Mercado registró un consumo de capital de  1,739 millones de pesos, para una ocupación de 77% del límite a nivel estratégico. El mayor consumo a nivel táctico se ubica en el portafolio de Tesorería, con  1,187 millones de pesos y una ocupación de 82% del límite autorizado.
