src/pug/content/bancomext.pug
.section-1
  article.container
    .content
      h1 Mensaje del director
      .panel-text
        p 2017 fue un año en el que la economía mexicana alcanzó logros significativos y enfrentó con éxito retos importantes. Se mantuvo el crecimiento económico y se generaron las condiciones para alentar la inversión productiva. Por quinto año consecutivo, el empleo formal  creció al doble que la economía. Las exportaciones mexicanas sumaron casi 410 mil millones de dólares, lo que representa un monto récord y un aumento de 9.5%. Las manufacturas fueron parte importante de este incremento, con una participación de casi 365 mil millones de dólares al cierre del ejercicio, más de ocho por ciento superiores a las del año anterior. También en 2017 los  diversos cambios promovidos por las Reformas Estructurales fructificaron en mayores oportunidades de educación superior, crecimiento del salario mínimo real y mejor acceso a la tecnología, entre otras.

        p 2017 ofreció a Bancomext numerosas oportunidades. Se logró una fortaleza financiera inédita con una cartera 319% superior a la de 2012, se alcanzó un Índice de Capitalización sobre Riesgos Totales superior al 18% y el saldo de cartera vencida fue de 0.9% en relación con la cartera total. Se contribuyó a impulsar la competitividad del país a través del financiamiento de bienes de capital y se apoyó el desarrollo de nuevas tecnologías y la incorporación de las mismas al trabajo diario de la Institución. Bancomext abrazó la Revolución Industrial del Siglo XXI prestando apoyo a proyectos de desarrollo tecnológico y promoviendo la implantación de sistemas de última generación. Las aplicaciones Fintech se sumaron a la oferta de productos financieros para dar un mejor servicio a los clientes actuales y potenciales y a la propia comunidad Bancomext.

        p 2017 subrayó el compromiso con la sustentabilidad medioambiental y social. Bancomext suscribió el Protocolo de Sustentabilidad de la Banca en México y adoptó el Sistema de Gestión de Riesgos Ambientales y Sociales que establece un marco de gestión integral para identificar, supervisar y administrar la exposición que pudiera tener el banco con respecto a los impactos ambientales y sociales potenciales dentro del proceso de crédito. El banco promovió y apoyó proyectos relacionados con energías renovables, como la eólica y la solar, edificios verdes, prevención y control de la contaminación y transporte limpio.

        p 2017 impulsó la vocación de Bancomext para convertirse en la principal Export Credit Agency de América Latina, a fin de ofrecer las mejores condiciones de crédito a nuestros clientes actuales y potenciales y contribuir de manera eficaz al fortalecimiento del sector productivo vinculado al comercio exterior y a la generación de divisas. Se fortaleció el papel de Bancomext como agente de desarrollo de los proveedores nacionales con productos como el factoraje, que apuntalan la participación de miles de empresas pequeñas y medianas en el comercio internacional.

        p 2017 llevó a Bancomext numerosas distinciones internacionales por la calidad y oportunidad de sus servicios: Banco del Año 2017, otorgado por la Asociación Latinoamericana de Instituciones Financieras para el Desarrollo; Best Infrastructure Financing: México, LatinFinance; Deal of the Year, World Finance, y Reconocimiento del Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales. No obstante la gran importancia de estos reconocimientos, el principal motivo de orgullo de nuestra Institución es la cartera de miles de clientes que se han acercado a Bancomext en busca de apoyo, asesoría y productos financieros para llevar a feliz término sus proyectos y ser los principales promotores del crecimiento y desarrollo de México.

.section-1
  article.container
    .content
      h1 Consejo directivo
      .panel-table
        h2 Fusce ut mi facilisis
        table
          tr
            th Propietarios
            th Suplentes
          tr
            td Suspendisse hendrerit
            td Nunc sed felis
          tr
            td Suspendisse hendrerit
            td Nunc sed felis
          tr
            td Suspendisse hendrerit
            td Nunc sed felistd

      .panel-table
        h2 Fusce ut mi facilisis
        table
          tr
            th Propietarios
            th Suplentes
          tr
            td Suspendisse hendrerit
            td Nunc sed felis
          tr
            td Suspendisse hendrerit
            td Nunc sed felis
          tr
            td Suspendisse hendrerit
            td Nunc sed felistd

dist/bancomext.html
<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8">
    <title>Bancomext - Informe Anual 2017</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" rel="stylesheet">
    <link href="/css/styles.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header class="hero small" role="banner">
      <div class="container">
        <div class="flex"><img src="/img/logo.png">
          <div>
            <h1>Informe anual 2017</h1>
            <h2>Impulsando la formación de capital y la productividad en México</h2>
          </div>
        </div><a class="download" href="#">Estados financieros 2017<i class="fas fa-download"></i></a>
      </div>
    </header>
    <nav class="nav" role="navigation">
      <ul>
        <li class="nav-item-section-1 active"><a href="bancomext.html">Bancomext<i class="fas fa-caret-down"></i></a></li>
      </ul>
    </nav>
    <main>
      <div class="section-1">
        <article class="container">
          <div class="content">
            <h1>Mensaje del director</h1>
            <div class="panel-text">
              <p>2017 fue un año en el que la economía mexicana alcanzó logros significativos y enfrentó con éxito retos importantes. Se mantuvo el crecimiento económico y se generaron las condiciones para alentar la inversión productiva. Por quinto año consecutivo, el empleo formal  creció al doble que la economía. Las exportaciones mexicanas sumaron casi 410 mil millones de dólares, lo que representa un monto récord y un aumento de 9.5%. Las manufacturas fueron parte importante de este incremento, con una participación de casi 365 mil millones de dólares al cierre del ejercicio, más de ocho por ciento superiores a las del año anterior. También en 2017 los  diversos cambios promovidos por las Reformas Estructurales fructificaron en mayores oportunidades de educación superior, crecimiento del salario mínimo real y mejor acceso a la tecnología, entre otras.</p>
              <p>2017 ofreció a Bancomext numerosas oportunidades. Se logró una fortaleza financiera inédita con una cartera 319% superior a la de 2012, se alcanzó un Índice de Capitalización sobre Riesgos Totales superior al 18% y el saldo de cartera vencida fue de 0.9% en relación con la cartera total. Se contribuyó a impulsar la competitividad del país a través del financiamiento de bienes de capital y se apoyó el desarrollo de nuevas tecnologías y la incorporación de las mismas al trabajo diario de la Institución. Bancomext abrazó la Revolución Industrial del Siglo XXI prestando apoyo a proyectos de desarrollo tecnológico y promoviendo la implantación de sistemas de última generación. Las aplicaciones Fintech se sumaron a la oferta de productos financieros para dar un mejor servicio a los clientes actuales y potenciales y a la propia comunidad Bancomext.</p>
              <p>2017 subrayó el compromiso con la sustentabilidad medioambiental y social. Bancomext suscribió el Protocolo de Sustentabilidad de la Banca en México y adoptó el Sistema de Gestión de Riesgos Ambientales y Sociales que establece un marco de gestión integral para identificar, supervisar y administrar la exposición que pudiera tener el banco con respecto a los impactos ambientales y sociales potenciales dentro del proceso de crédito. El banco promovió y apoyó proyectos relacionados con energías renovables, como la eólica y la solar, edificios verdes, prevención y control de la contaminación y transporte limpio.</p>
              <p>2017 impulsó la vocación de Bancomext para convertirse en la principal Export Credit Agency de América Latina, a fin de ofrecer las mejores condiciones de crédito a nuestros clientes actuales y potenciales y contribuir de manera eficaz al fortalecimiento del sector productivo vinculado al comercio exterior y a la generación de divisas. Se fortaleció el papel de Bancomext como agente de desarrollo de los proveedores nacionales con productos como el factoraje, que apuntalan la participación de miles de empresas pequeñas y medianas en el comercio internacional.</p>
              <p>2017 llevó a Bancomext numerosas distinciones internacionales por la calidad y oportunidad de sus servicios: Banco del Año 2017, otorgado por la Asociación Latinoamericana de Instituciones Financieras para el Desarrollo; Best Infrastructure Financing: México, LatinFinance; Deal of the Year, World Finance, y Reconocimiento del Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales. No obstante la gran importancia de estos reconocimientos, el principal motivo de orgullo de nuestra Institución es la cartera de miles de clientes que se han acercado a Bancomext en busca de apoyo, asesoría y productos financieros para llevar a feliz término sus proyectos y ser los principales promotores del crecimiento y desarrollo de México.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="section-1">
        <article class="container">
          <div class="content">
            <h1>Consejo directivo</h1>
            <div class="panel-table">
              <h2>Fusce ut mi facilisis</h2>
              <table>
                <tr>
                  <th>Propietarios</th>
                  <th>Suplentes</th>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felis</td>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felis</td>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felistd</td>
                </tr>
              </table>
            </div>
            <div class="panel-table">
              <h2>Fusce ut mi facilisis</h2>
              <table>
                <tr>
                  <th>Propietarios</th>
                  <th>Suplentes</th>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felis</td>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felis</td>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felistd</td>
                </tr>
              </table>
            </div>
          </div>
        </article>
      </div>
    </main>
    <nav class="nav" role="navigation">
      <ul>
        <li class="nav-item-section-2"><a href="entorno-economico.html">Entorno económico<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-3"><a href="estrategia-de-negocios.html">Estrategia de negocios<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-4"><a href="administracion-integral-de-riesgos.html">Administración integral de riesgos<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-5"><a href="modelo-de-negocios.html">Modelo de negocios<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-6"><a href="tesoreria-y-mercados.html">Tesorería y mercados<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-7"><a href="otras-actividades.html">Otras actividades<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-8"><a href="informacion-financiera.html">Información financiera<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-blank"><a></a></li>
      </ul>
    </nav>
    <footer class="footer" role="contentinfo">
      <div class="container">
        <div>
          <p class="uppercase">Informe anual 2017</p>
        </div>
        <div>
          <ul>
            <li><a href="estados-financieros.html">Estados financieros</a></li>
            <li><a href="bancomext.html">Bancomext</a></li>
            <li><a href="entorno-economico.html">Entorno económico</a></li>
            <li><a href="estrategia-de-negocios.html">Estrategia de negocios</a></li>
          </ul>
        </div>
        <div class="flex">
          <ul>
            <li><a href="administracion-integral-de-riesgos.html">Administración integral de riesgos</a></li>
            <li><a href="modelo-de-negocios.html">Modelo de negocios</a></li>
            <li><a href="tesoreria-y-mercados.html">Tesorería y mercados</a></li>
            <li><a href="otras-actividades.html">Otras actividades</a></li>
            <li><a href="informacion-financiera.html">Información financiera</a></li>
          </ul><img src="/img/logo-alt.png">
        </div>
        <div>
          <div class="social-media"><a href="#" target="_blank" aria-label="Bancomext en Twitter"><i class="fab fa-twitter"></i></a><a href="#" target="_blank" aria-label="Bancomext en Facebook"><i class="fab fa-facebook-f"></i></a><a href="#" target="_blank" aria-label="Bancomext en Youtube"><i class="fab fa-youtube"></i></a></div>
          <p>Teléfono: +52 (55) 5449 9000</p>
          <p>E-mail:<a href="mailto:bancomext@bancomext.gob.mx">bancomext@bancomext.gob.mx</a></p>
          <p>Dirección: Periférico Sur 4333, Col. Jardines en la Montaña,<br>Tlalpan, Ciudad de México, C.P. 14210</p>
          <p>Última actualización: 15/05/2018</p>
        </div>
      </div>
    </footer>
    <!-- Scripts bundle-->
    <script src="js/bundle.min.js"></script>
  </body>
</html>
