src/pug/content/entorno-economico.pug
.section-2
  article.container
    .content
      h1 Panorama en la economía mexicana
      .panel-text
        p En 2017, la economía mexicana enfrentó una coyuntura internacional compleja debido a las amenazas proteccionistas del presidente de los Estados Unidos (EU) entre las cuales destacan: la renegociación o cancelación del TLCAN; la imposición de impuestos discrecionales a las exportaciones mexicanas; la deportación de 11 millones de indocumentados; la construcción del muro en la frontera; bloquear el envío de remesas a México y el aumento del costo de la visa a mexicanos. Con la salvedad de la renegociación del TLCAN, la cual era necesaria, estas amenazas no fueron materializadas en 2017, lo que se vio traducido en una mejora de las expectativas sobre la economía mexicana. Por otro lado el consumo tuvo una dinámica positiva. Aunado a esto, los precios internacionales del petróleo aumentaron su valor, lo que ocasionó mayores ingresos para las finanzas públicas. Sin embargo, el sector construcción continúa con el decrecimiento, por la poca inversión pública y la caída en la construcción privada.

        p No obstante este entorno y las políticas restrictivas monetaria y fiscal, México mostró un crecimiento del PIB en 2017 de 2.3% que es superior al estimado a principio de año, lo cual muestra la resiliencia de la economía a los shocks externos, con una inflación que en 2017 llegó a su tope y se espera que disminuya en el 2018 y un tipo de cambio que absorbe la volatilidad del entorno internacional y de los flujos de capital.

        p Las reformas estructurales en las áreas de energía, educación, competitividad, telecomunicaciones y sector financiero aprobadas en 2013 y 2014, iniciaron su implementación en 2015 y continúan al día de hoy con las licitaciones en el área de energía. Esto contribuirá a mejorar el crecimiento potencial de la economía en el mediano plazo al generar mayor inversión y empleo, así como al incorporar nuevas tecnologías, reducir los costos de producción e incrementar la productividad y la competencia.

        p En particular, la reforma energética en 2017 ya es un factor clave para reducir los costos de energía más allá de la coyuntura de precios actual. Además de estar atrayendo grandes inversiones de nuevos actores en el sector, además de que generará mayor eficiencia y autonomía de gestión para Petróleos Mexicanos (PEMEX) y la Comisión Federal de Electricidad (CFE).

      .panel-text
        h2 Sector Real

        p En 2017 el Producto Interno Bruto (PIB) creció 2.3%, lo que representó una desaceleración con respecto al crecimiento de 2.7% en el 2016, pero esta es mejor a lo esperado al inicio del año en que la encuesta de expectativas del sector privado de Banco de México pronosticaba un crecimiento de 1.6%.

.section-2
  article.container
    .content
      h1 Consejo directivo
      .panel-table
        h2 Fusce ut mi facilisis
        table
          tr
            th Propietarios
            th Suplentes
          tr
            td Suspendisse hendrerit
            td Nunc sed felis
          tr
            td Suspendisse hendrerit
            td Nunc sed felis
          tr
            td Suspendisse hendrerit
            td Nunc sed felistd

      .panel-table
        h2 Fusce ut mi facilisis
        table
          tr
            th Propietarios
            th Suplentes
          tr
            td Suspendisse hendrerit
            td Nunc sed felis
          tr
            td Suspendisse hendrerit
            td Nunc sed felis
          tr
            td Suspendisse hendrerit
            td Nunc sed felistd

dist/entorno-economico.html
<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8">
    <title>Bancomext - Informe Anual 2017</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" rel="stylesheet">
    <link href="/css/styles.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header class="hero small" role="banner">
      <div class="container">
        <div class="flex"><img src="/img/logo.png">
          <div>
            <h1>Informe anual 2017</h1>
            <h2>Impulsando la formación de capital y la productividad en México</h2>
          </div>
        </div><a class="download" href="#">Estados financieros 2017<i class="fas fa-download"></i></a>
      </div>
    </header>
    <nav class="nav" role="navigation">
      <ul>
        <li class="nav-item-section-1"><a href="bancomext.html">Bancomext<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-2 active"><a href="entorno-economico.html">Entorno económico
            <!-- i.fas.fa-caret-down--></a></li>
      </ul>
    </nav>
    <main>
      <div class="section-2">
        <article class="container">
          <div class="content">
            <h1>Panorama en la economía mexicana</h1>
            <div class="panel-text">
              <p>En 2017, la economía mexicana enfrentó una coyuntura internacional compleja debido a las amenazas proteccionistas del presidente de los Estados Unidos (EU) entre las cuales destacan: la renegociación o cancelación del TLCAN; la imposición de impuestos discrecionales a las exportaciones mexicanas; la deportación de 11 millones de indocumentados; la construcción del muro en la frontera; bloquear el envío de remesas a México y el aumento del costo de la visa a mexicanos. Con la salvedad de la renegociación del TLCAN, la cual era necesaria, estas amenazas no fueron materializadas en 2017, lo que se vio traducido en una mejora de las expectativas sobre la economía mexicana. Por otro lado el consumo tuvo una dinámica positiva. Aunado a esto, los precios internacionales del petróleo aumentaron su valor, lo que ocasionó mayores ingresos para las finanzas públicas. Sin embargo, el sector construcción continúa con el decrecimiento, por la poca inversión pública y la caída en la construcción privada.</p>
              <p>No obstante este entorno y las políticas restrictivas monetaria y fiscal, México mostró un crecimiento del PIB en 2017 de 2.3% que es superior al estimado a principio de año, lo cual muestra la resiliencia de la economía a los shocks externos, con una inflación que en 2017 llegó a su tope y se espera que disminuya en el 2018 y un tipo de cambio que absorbe la volatilidad del entorno internacional y de los flujos de capital.</p>
              <p>Las reformas estructurales en las áreas de energía, educación, competitividad, telecomunicaciones y sector financiero aprobadas en 2013 y 2014, iniciaron su implementación en 2015 y continúan al día de hoy con las licitaciones en el área de energía. Esto contribuirá a mejorar el crecimiento potencial de la economía en el mediano plazo al generar mayor inversión y empleo, así como al incorporar nuevas tecnologías, reducir los costos de producción e incrementar la productividad y la competencia.</p>
              <p>En particular, la reforma energética en 2017 ya es un factor clave para reducir los costos de energía más allá de la coyuntura de precios actual. Además de estar atrayendo grandes inversiones de nuevos actores en el sector, además de que generará mayor eficiencia y autonomía de gestión para Petróleos Mexicanos (PEMEX) y la Comisión Federal de Electricidad (CFE).</p>
            </div>
            <div class="panel-text">
              <h2>Sector Real</h2>
              <p>En 2017 el Producto Interno Bruto (PIB) creció 2.3%, lo que representó una desaceleración con respecto al crecimiento de 2.7% en el 2016, pero esta es mejor a lo esperado al inicio del año en que la encuesta de expectativas del sector privado de Banco de México pronosticaba un crecimiento de 1.6%.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="section-2">
        <article class="container">
          <div class="content">
            <h1>Consejo directivo</h1>
            <div class="panel-table">
              <h2>Fusce ut mi facilisis</h2>
              <table>
                <tr>
                  <th>Propietarios</th>
                  <th>Suplentes</th>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felis</td>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felis</td>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felistd</td>
                </tr>
              </table>
            </div>
            <div class="panel-table">
              <h2>Fusce ut mi facilisis</h2>
              <table>
                <tr>
                  <th>Propietarios</th>
                  <th>Suplentes</th>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felis</td>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felis</td>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felistd</td>
                </tr>
              </table>
            </div>
          </div>
        </article>
      </div>
    </main>
    <nav class="nav" role="navigation">
      <ul>
        <li class="nav-item-section-3"><a href="estrategia-de-negocios.html">Estrategia de negocios<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-4"><a href="administracion-integral-de-riesgos.html">Administración integral de riesgos<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-5"><a href="modelo-de-negocios.html">Modelo de negocios<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-6"><a href="tesoreria-y-mercados.html">Tesorería y mercados<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-7"><a href="otras-actividades.html">Otras actividades<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-8"><a href="informacion-financiera.html">Información financiera<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-blank"><a></a></li>
      </ul>
    </nav>
    <footer class="footer" role="contentinfo">
      <div class="container">
        <div>
          <p class="uppercase">Informe anual 2017</p>
        </div>
        <div>
          <ul>
            <li><a href="estados-financieros.html">Estados financieros</a></li>
            <li><a href="bancomext.html">Bancomext</a></li>
            <li><a href="entorno-economico.html">Entorno económico</a></li>
            <li><a href="estrategia-de-negocios.html">Estrategia de negocios</a></li>
          </ul>
        </div>
        <div class="flex">
          <ul>
            <li><a href="administracion-integral-de-riesgos.html">Administración integral de riesgos</a></li>
            <li><a href="modelo-de-negocios.html">Modelo de negocios</a></li>
            <li><a href="tesoreria-y-mercados.html">Tesorería y mercados</a></li>
            <li><a href="otras-actividades.html">Otras actividades</a></li>
            <li><a href="informacion-financiera.html">Información financiera</a></li>
          </ul><img src="/img/logo-alt.png">
        </div>
        <div>
          <div class="social-media"><a href="#" target="_blank" aria-label="Bancomext en Twitter"><i class="fab fa-twitter"></i></a><a href="#" target="_blank" aria-label="Bancomext en Facebook"><i class="fab fa-facebook-f"></i></a><a href="#" target="_blank" aria-label="Bancomext en Youtube"><i class="fab fa-youtube"></i></a></div>
          <p>Teléfono: +52 (55) 5449 9000</p>
          <p>E-mail:<a href="mailto:bancomext@bancomext.gob.mx">bancomext@bancomext.gob.mx</a></p>
          <p>Dirección: Periférico Sur 4333, Col. Jardines en la Montaña,<br>Tlalpan, Ciudad de México, C.P. 14210</p>
          <p>Última actualización: 15/05/2018</p>
        </div>
      </div>
    </footer>
    <!-- Scripts bundle-->
    <script src="js/bundle.min.js"></script>
  </body>
</html>
