src/pug/content/modelo-de-negocios.pug
.section-5
  article.container
    .content
      h1 Financiamiento Total
      .panel-text
        p Entre los resultados más relevantes obtenidos por BANCOMEXT en 2017, destacan:

        p El saldo total de cartera de crédito en primer y segundo piso, garantías e inducido, al cierre de diciembre de 2017, ascendió a 253,739 millones de pesos, 1.3% superior en términos reales al observado al mismo mes de 2016.

        p En el sector privado, el financiamiento ascendió a 248,414 millones de pesos, que significa un crecimiento del 3.2% en términos reales.

        p El saldo de crédito inducido otorgado por BANCOMEXT en 2017, incluyendo avales, garantías, cartas de crédito, se incrementó de 41,053 a 43,543 millones de pesos.

        p El saldo del crédito otorgado a través de Intermediarios Financieros pasó de 25,261 a 31,354 millones de pesos, lo que representa un aumento del 16.2% en términos reales.

        p Los saldos de cartera por moneda de origen nacional y extranjera mostraron un crecimiento al pasar de 80,413 a 104,359 millones de pesos y de 7,473 a 7,597 millones de dólares, respectivamente.

dist/modelo-de-negocios.html
<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8">
    <title>Bancomext - Informe Anual 2017</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" rel="stylesheet">
    <link href="/css/styles.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header class="hero small" role="banner">
      <div class="container">
        <div class="flex"><img src="/img/logo.png">
          <div>
            <h1>Informe anual 2017</h1>
            <h2>Impulsando la formación de capital y la productividad en México</h2>
          </div>
        </div><a class="download" href="#">Estados financieros 2017<i class="fas fa-download"></i></a>
      </div>
    </header>
    <nav class="nav" role="navigation">
      <ul>
        <li class="nav-item-section-1"><a href="bancomext.html">Bancomext<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-2"><a href="entorno-economico.html">Entorno económico<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-3"><a href="estrategia-de-negocios.html">Estrategia de negocios<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-4"><a href="administracion-integral-de-riesgos.html">Administración integral de riesgos<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-5 active"><a href="modelo-de-negocios.html">Modelo de negocios
            <!-- i.fas.fa-caret-down--></a></li>
      </ul>
    </nav>
    <main>
      <div class="section-5">
        <article class="container">
          <div class="content">
            <h1>Financiamiento Total</h1>
            <div class="panel-text">
              <p>Entre los resultados más relevantes obtenidos por BANCOMEXT en 2017, destacan:</p>
              <p>El saldo total de cartera de crédito en primer y segundo piso, garantías e inducido, al cierre de diciembre de 2017, ascendió a 253,739 millones de pesos, 1.3% superior en términos reales al observado al mismo mes de 2016.</p>
              <p>En el sector privado, el financiamiento ascendió a 248,414 millones de pesos, que significa un crecimiento del 3.2% en términos reales.</p>
              <p>El saldo de crédito inducido otorgado por BANCOMEXT en 2017, incluyendo avales, garantías, cartas de crédito, se incrementó de 41,053 a 43,543 millones de pesos.</p>
              <p>El saldo del crédito otorgado a través de Intermediarios Financieros pasó de 25,261 a 31,354 millones de pesos, lo que representa un aumento del 16.2% en términos reales.</p>
              <p>Los saldos de cartera por moneda de origen nacional y extranjera mostraron un crecimiento al pasar de 80,413 a 104,359 millones de pesos y de 7,473 a 7,597 millones de dólares, respectivamente.</p>
            </div>
          </div>
        </article>
      </div>
    </main>
    <nav class="nav" role="navigation">
      <ul>
        <li class="nav-item-section-6"><a href="tesoreria-y-mercados.html">Tesorería y mercados<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-7"><a href="otras-actividades.html">Otras actividades<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-8"><a href="informacion-financiera.html">Información financiera<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-blank"><a></a></li>
      </ul>
    </nav>
    <footer class="footer" role="contentinfo">
      <div class="container">
        <div>
          <p class="uppercase">Informe anual 2017</p>
        </div>
        <div>
          <ul>
            <li><a href="estados-financieros.html">Estados financieros</a></li>
            <li><a href="bancomext.html">Bancomext</a></li>
            <li><a href="entorno-economico.html">Entorno económico</a></li>
            <li><a href="estrategia-de-negocios.html">Estrategia de negocios</a></li>
          </ul>
        </div>
        <div class="flex">
          <ul>
            <li><a href="administracion-integral-de-riesgos.html">Administración integral de riesgos</a></li>
            <li><a href="modelo-de-negocios.html">Modelo de negocios</a></li>
            <li><a href="tesoreria-y-mercados.html">Tesorería y mercados</a></li>
            <li><a href="otras-actividades.html">Otras actividades</a></li>
            <li><a href="informacion-financiera.html">Información financiera</a></li>
          </ul><img src="/img/logo-alt.png">
        </div>
        <div>
          <div class="social-media"><a href="#" target="_blank" aria-label="Bancomext en Twitter"><i class="fab fa-twitter"></i></a><a href="#" target="_blank" aria-label="Bancomext en Facebook"><i class="fab fa-facebook-f"></i></a><a href="#" target="_blank" aria-label="Bancomext en Youtube"><i class="fab fa-youtube"></i></a></div>
          <p>Teléfono: +52 (55) 5449 9000</p>
          <p>E-mail:<a href="mailto:bancomext@bancomext.gob.mx">bancomext@bancomext.gob.mx</a></p>
          <p>Dirección: Periférico Sur 4333, Col. Jardines en la Montaña,<br>Tlalpan, Ciudad de México, C.P. 14210</p>
          <p>Última actualización: 15/05/2018</p>
        </div>
      </div>
    </footer>
    <!-- Scripts bundle-->
    <script src="js/bundle.min.js"></script>
  </body>
</html>
