src/pug/informacion-financiera.pug
doctype html
html(lang='es').no-js
  head
    include includes/head
    include includes/mixins
  body
    header(role='banner').hero.small
      .container
        .flex
          img(src="/img/logo.png")
          div
            h1 Informe anual 2017
            h2 Impulsando la formación de capital y la productividad en México
        a.download(href="#") Estados financieros 2017
          i.fas.fa-download


    nav(role='navigation').nav
        ul
          li.nav-item-section-1
            a(href="bancomext.html") Bancomext
              i.fas.fa-caret-down
          li.nav-item-section-2
            a(href="entorno-economico.html") Entorno económico
              i.fas.fa-caret-down
          li.nav-item-section-3
            a(href="estrategia-de-negocios.html") Estrategia de negocios
              i.fas.fa-caret-down
          li.nav-item-section-4
            a(href="administracion-integral-de-riesgos.html") Administración integral de riesgos
              i.fas.fa-caret-down
          li.nav-item-section-5
            a(href="modelo-de-negocios.html") Modelo de negocios
              i.fas.fa-caret-down
          li.nav-item-section-6
            a(href="tesoreria-y-mercados.html") Tesorería y mercados
              i.fas.fa-caret-down
          li.nav-item-section-7
            a(href="otras-actividades.html") Otras actividades
              i.fas.fa-caret-down
          li.nav-item-section-8.active
            a(href="informacion-financiera.html") Información financiera
              i.fas.fa-caret-down

    main
      include content/informacion-financiera

    nav(role='navigation').nav
        ul
          //- Blank item, at the end of the menu
          li.nav-item-section-blank: a




    //- ==================
    //- FOOTER
    //- ==================
    include includes/footer

dist/informacion-financiera.html
<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8">
    <title>Bancomext - Informe Anual 2017</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" rel="stylesheet">
    <link href="/css/styles.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header class="hero small" role="banner">
      <div class="container">
        <div class="flex"><img src="/img/logo.png">
          <div>
            <h1>Informe anual 2017</h1>
            <h2>Impulsando la formación de capital y la productividad en México</h2>
          </div>
        </div><a class="download" href="#">Estados financieros 2017<i class="fas fa-download"></i></a>
      </div>
    </header>
    <nav class="nav" role="navigation">
      <ul>
        <li class="nav-item-section-1"><a href="bancomext.html">Bancomext<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-2"><a href="entorno-economico.html">Entorno económico<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-3"><a href="estrategia-de-negocios.html">Estrategia de negocios<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-4"><a href="administracion-integral-de-riesgos.html">Administración integral de riesgos<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-5"><a href="modelo-de-negocios.html">Modelo de negocios<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-6"><a href="tesoreria-y-mercados.html">Tesorería y mercados<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-7"><a href="otras-actividades.html">Otras actividades<i class="fas fa-caret-down"></i></a></li>
        <li class="nav-item-section-8 active"><a href="informacion-financiera.html">Información financiera<i class="fas fa-caret-down"></i></a></li>
      </ul>
    </nav>
    <main>
      <div class="section-8">
        <article class="container">
          <div class="content">
            <h1>Mensaje del director</h1>
            <div class="panel-text-columns-2">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel purus congue, ornare eros eu, varius turpis. Duis sed tellus tempor elit viverra auctor vitae quis arcu. Mauris consectetur odio tristique lorem fermentum, vel fringilla purus iaculis. Aliquam venenatis erat ac lorem gravida, eu ultrices lorem pharetra. Praesent sed sollicitudin arcu. Fusce a cursus odio. Proin quis lectus nulla. Nunc rhoncus ante sed massa condimentum facilisis. Phasellus sit amet ex pulvinar, tincidunt nunc a, mattis ligula. Mauris a ante eget urna lacinia bibendum sed ac justo. Sed hendrerit tellus libero, in viverra lorem mattis sit amet. Cras et accumsan magna, vel volutpat ipsum. Cras nibh est, placerat sed orci a, efficitur fermentum turpis. Vivamus sed mattis lorem.</p>
              <p>Pellentesque a gravida urna, porta venenatis mauris. Aenean commodo venenatis justo. Integer blandit augue ex, et congue dolor efficitur id. Suspendisse eget dolor at est viverra pretium eget aliquam libero. Maecenas gravida dictum blandit. Nullam tincidunt nunc at urna vulputate convallis. Aenean nec leo vel augue elementum viverra quis interdum urna. Suspendisse eu dolor tincidunt, rhoncus est in, placerat odio. Nullam ac nisi nulla. Integer ornare nec ex sit amet consequat. Vestibulum facilisis arcu sit amet arcu malesuada elementum.</p>
              <p>Fusce ut mi facilisis, malesuada lectus ac, molestie lacus. Quisque elementum, eros sed sollicitudin pharetra, nibh neque efficitur tortor, nec sodales enim mi ut massa. Duis purus neque, rutrum vel egestas eu, posuere vel massa. Cras tempor pharetra felis, ac aliquam ante viverra sit amet. Integer dapibus sem quis sem fermentum, sed lobortis quam sollicitudin. Nunc fringilla, quam sit amet suscipit pharetra, enim nunc eleifend massa, at finibus odio tortor et metus. Morbi lectus neque, vehicula a lobortis a, convallis nec tortor. Nulla nec venenatis eros. Nulla consectetur laoreet volutpat. Nullam ac ipsum cursus dui ornare cursus id a felis. Praesent leo nulla, pharetra eu turpis sed, laoreet maximus libero. Morbi fermentum, sapien finibus dictum suscipit, ex eros consectetur eros, vel volutpat ipsum justo id ligula.</p>
              <p>Etiam tristique ex sed turpis sollicitudin imperdiet. Fusce eu aliquet dolor. Nullam id erat tincidunt, condimentum erat ut, luctus quam. Nulla ac est nec purus facilisis aliquam. Vivamus congue porta lorem, ut tristique ante rhoncus eu. Vestibulum consectetur sem et odio efficitur, et eleifend odio sodales. Suspendisse dapibus sed augue non lacinia. Mauris rhoncus dapibus lorem eu ultricies. Sed pretium imperdiet nibh, eget dapibus ligula porttitor ac. Ut hendrerit urna eget eros volutpat, eget ullamcorper ligula sodales. Nullam ut massa a est lacinia convallis vehicula id ipsum. Vestibulum ultricies malesuada egestas. Cras risus nisl, bibendum sed quam in, dictum scelerisque leo. Quisque convallis nec nulla non rhoncus. Aenean et turpis sed arcu lobortis condimentum.</p>
              <p>Suspendisse hendrerit vel nulla id lacinia. Nunc sed felis tristique, aliquet ex sit amet, vulputate ante. Morbi tortor mi, euismod non ex at, aliquam accumsan nisl. Duis blandit elit ultricies, imperdiet felis tincidunt, placerat eros. Sed vitae arcu sed mi dignissim sollicitudin vitae quis felis. Sed bibendum sodales velit, in iaculis quam congue et. Curabitur sagittis ultricies urna, ac mollis purus dapibus at. Integer luctus mollis fringilla. Vivamus sit amet dolor sem. Cras semper metus neque, ultricies consectetur nibh condimentum eget. Morbi congue semper blandit. Phasellus lacinia sollicitudin facilisis. Praesent elit ante, congue eu nulla ornare, hendrerit euismod tortor. Nulla vitae nulla nec nibh tempus tincidunt. Suspendisse varius tempor varius. Pellentesque at ex in leo sodales efficitur.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="section-8">
        <article class="container">
          <div class="content">
            <h1>Consejo directivo</h1>
            <div class="panel-table">
              <h2>Fusce ut mi facilisis</h2>
              <table>
                <tr>
                  <th>Propietarios</th>
                  <th>Suplentes</th>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felis</td>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felis</td>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felistd</td>
                </tr>
              </table>
            </div>
            <div class="panel-table">
              <h2>Fusce ut mi facilisis</h2>
              <table>
                <tr>
                  <th>Propietarios</th>
                  <th>Suplentes</th>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felis</td>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felis</td>
                </tr>
                <tr>
                  <td>Suspendisse hendrerit</td>
                  <td>Nunc sed felistd</td>
                </tr>
              </table>
            </div>
          </div>
        </article>
      </div>
    </main>
    <nav class="nav" role="navigation">
      <ul>
        <li class="nav-item-section-blank"><a></a></li>
      </ul>
    </nav>
    <footer class="footer" role="contentinfo">
      <div class="container">
        <div>
          <p class="uppercase">Informe anual 2017</p>
        </div>
        <div>
          <ul>
            <li><a href="estados-financieros.html">Estados financieros</a></li>
            <li><a href="bancomext.html">Bancomext</a></li>
            <li><a href="entorno-economico.html">Entorno económico</a></li>
            <li><a href="estrategia-de-negocios.html">Estrategia de negocios</a></li>
          </ul>
        </div>
        <div class="flex">
          <ul>
            <li><a href="administracion-integral-de-riesgos.html">Administración integral de riesgos</a></li>
            <li><a href="modelo-de-negocios.html">Modelo de negocios</a></li>
            <li><a href="tesoreria-y-mercados.html">Tesorería y mercados</a></li>
            <li><a href="otras-actividades.html">Otras actividades</a></li>
            <li><a href="informacion-financiera.html">Información financiera</a></li>
          </ul><img src="/img/logo-alt.png">
        </div>
        <div>
          <div class="social-media"><a href="#" target="_blank" aria-label="Bancomext en Twitter"><i class="fab fa-twitter"></i></a><a href="#" target="_blank" aria-label="Bancomext en Facebook"><i class="fab fa-facebook-f"></i></a><a href="#" target="_blank" aria-label="Bancomext en Youtube"><i class="fab fa-youtube"></i></a></div>
          <p>Teléfono: +52 (55) 5449 9000</p>
          <p>E-mail:<a href="mailto:bancomext@bancomext.gob.mx">bancomext@bancomext.gob.mx</a></p>
          <p>Dirección: Periférico Sur 4333, Col. Jardines en la Montaña,<br>Tlalpan, Ciudad de México, C.P. 14210</p>
          <p>Última actualización: 15/05/2018</p>
        </div>
      </div>
    </footer>
    <!-- Scripts bundle-->
    <script src="js/bundle.min.js"></script>
  </body>
</html>
